#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }

  .modal-content {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.modal-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  /* spacing between image and text */
}

.modal-image {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.modal-details {
  flex: 1;
  /* take the remaining space */
}

.modal-grid {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  align-items: start;
}

.modal-image {
  width: 220px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.face-claim-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.face-claim-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.claim-tile {
  background-color: #f5f5f5;
  width: 100%;
  text-align: center;
  padding: 8px;
  border-radius: 0 0 8px 8px;
  font-family: 'Press Start 2P', cursive; /* Optional */
}

.claim-tile h3 {
  margin: 0;
  font-size: 16px;
}

.claim-tile p {
  margin: 4px 0 0 0;
  font-size: 14px;
}